<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 text-center mb-5">
                <h1 class="animated-header">WELCOME TO EXPENSE TRACKER APP</h1>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <form class="login-form" (ngSubmit)="login()">

                    <!-- Email input -->
                    <div class="input-group mb-4">
                        <input type="email" id="email" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" [(ngModel)]="email" name="email" required />
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>

                    <!-- Password input -->
                    <div class="input-group mb-3">
                        <input type="password" id="password" class="form-control form-control-lg"
                            placeholder="Enter password" [(ngModel)]="password" name="password" required />
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    </div>
                    <br>
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<div>
    <app-footer></app-footer>
</div>