@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.custom-navbar {
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 100;
    color: black;
}