.data-table {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.sortable-header {
    position: relative;
    white-space: nowrap; /* Prevent text wrapping */
}

.sortable-header span {
    position: absolute;
    margin-left: 5px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
}

.custom-sort-up-icon::before {
    content: '\25B2'; /* Unicode character for up arrow */
}

.custom-sort-down-icon::before {
    content: '\25BC'; /* Unicode character for down arrow */
}



.page-link {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  
  .page-item.disabled .page-link {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
  }
  